.container{
    display: flex;
}
#volbg{
    position: fixed;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 0.6;
    left:0;
    z-index: -20;
}
.article{
    width: 20vw;
    height: 100vh;
    position: fixed;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.vol-link{
    width: 60vw;
    height: 100vh;
    position: fixed;
    left: 20vw;
    z-index: 2;
    box-shadow: 0 0 20px white;
}
.section{
    width: 20vw;
    height: 100vh;
    position: fixed;
    left:80vw;
    background-color: rgba(0, 0, 0, 0.8);
}

.vol-link h1{
    color: red;
}

.vol-link ul li a {
    box-shadow: 0 0 20px black;
}

.vol-link ul li a:hover{
    color: red;
}
