.box{
    height: 300px;
    width: 300px;
    z-index: 30;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    text-decoration: underline;
}
.box p{
    background-color: red;
    margin-top: 0;
    padding: 3px;
}
.box img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0 0 20px crimson;
}

.character-img:hover{
    transform: scale(1.1);
}


#bg4{
    object-position: 0 -35px;
}
#bg5{object-position: 0 -45px;}
#bg6{object-position: 0 -60px;}
#bg7{object-position: 0 0px;}
#bg8{object-position: 0 -15px}
#bg10{object-position: 0 -15px}
#bg11{object-position: 0 -15px}
#bg12{object-position: 0 0}