nav {
    background-image: radial-gradient(circle, #e40000 0%, #a40909 50%);
    position: fixed;
    top: 0px;
    left: 0px;
}
nav ul{
    display: flex;
    width: 100vw;
    justify-content: center;
}
ul li{
    list-style: none;
    margin: 0 30px;
    color: white;
    font-size: 20px;
}
ul li:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
}
ul li a{
    color: white;
}
